.logo {
  font-family: "Play", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 0.9;
  text-transform: capitalize;
  color: var(--color-brand-blu);
  text-decoration: none;
}
