.form-terms {
  margin: 0 auto;
  max-width: 210px;
  font-size: 12px;
  line-height: 1.5;
  color: var(--color-grey);
  text-align: center;

  &__link {
    color: var(--color-grey);
    text-underline-offset: 2px;
  }
}
