.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.25);
  &__container {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  &__nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 40px;
  }

  &__menu {
    display: flex;
    gap: 64px;
    flex-grow: 1;
    justify-content: center;
  }

  &__addres-icon {
    fill: var(--color-brand-dark);
  }
}
